:root {
    --Black: #000;
}

html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.container{
    width: 121rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
}
.header-top{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.header-section-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-contant{
    display: flex;
    gap: 2rem;
}
.header-contant-one{
    display: flex;
    gap: 4rem;
}
.header-contant-one a{
    color: #000;
}
.number-one a{
    color: var(--Black);
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.email-one{
    
}
.email-one a{
    text-decoration: none;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.icon-section i{
    font-size: 2rem;
    padding-left: 2rem;
}
.icon-section ul{
    display: flex;
}
.icon-section ul li{
    list-style: none;
}
#langues{
    font-size: 1.4rem;
    width: 8rem;
    outline: none;
    border: none;
}
.world{
    align-items: center;
    display: flex;
    gap: 1rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    padding-left: 6rem;
}
.world i{
    font-size: 2rem;
}
.sign-one{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.sign-one a{
    color: var(--Black);
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    padding-left: 1rem;
}
.sign-one i{
    font-size: 2rem;
}
.header-section-two{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.header-logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header-logo a{
    color: #000;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-responsive{
    display: none;
}
.header-logo a{
    text-decoration: none;
}
.header-top-two{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.header-navber-one{
    display: flex;
    gap: 3rem;
}
.navber ul{
    display: flex;
    gap: 5rem;
    padding-top: 0.8rem;
}
.navber ul li{
    list-style: none;
    padding: rem;
}
.navber .active{
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
}
.navber ul li a{
    text-decoration: none;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.search-area{
    border: 1px solid #000;
    border-radius: 0.5rem;
}
.search-area input{
    width: 9rem;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
}
.search-area i{
    font-size: 2rem;
    padding-right: 0.5rem;
}
.search-area::placeholder{
    color: var(--Black);
    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.love{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Black);
/* Text/Tiny/Normal */
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Black);
/* Text/Tiny/Normal */
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
.notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
.love i{
    font-size: 2rem;
    color: #000;
}
.cart i{
    font-size: 2rem;
    color: #000;
}
.notification i{
    font-size: 2rem;
    color: #000;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 80px;
    margin-left: 0px;
}
#check{
    display: none;
}
/* section two start */
.hero-section{
    padding-top: 11rem;
    padding-bottom: 8rem;
}
.hero-section-one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.hero-section-two{
    width: 45%;
}
.hero-section-three{
    width: 45%;
}
.hero-section-two h2{
    color: var(--Kuno-Red, #000);
    font-family: Roboto;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 67.2px */
}
.hero-section-two h1{
    color: var(--Kuno-Red, #000);
    font-family: Roboto;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.hero-section-three p{
    margin-bottom: 3rem;
    color: var(--Kuno-Red, #000);
    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.btn-group{
    display: flex;
    gap: 3rem;
}
.btn-one{
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    background-color: #000;
    line-height: 150%; /* 24px */
}
.btn-two{
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 3rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
/* section three start */
.main-section{
    padding-bottom: 10rem;
}
.main-img{
    width: 100%;
    display: block;
}
.main-img img{
    width: 100%;
    display: block;
}
/* section four start */
.main-section-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15rem;
}
.main-section-three{
    width: 45%;
}
.about-img-section{
    width: 45%;
}
.about-img-section img{
    width: 100%;
    display: block;
}
.about-section{
    padding-bottom: 3.2rem;
}
.about-section h4{
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.about-section h2{
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.about-section p{
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.about-section-two{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-number-one{
    width: 50%;
}
.about-number-two{
    width: 50%;
}
.about-number-three{
    width: 50%;
    padding-top: 4rem;
}
.about-number-four{
    width: 50%;
    padding-top: 4rem;
}
.about-section-two h3{
    color: var(--Black);
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.about-section-two p{
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
/* section five start */
.choose-section{
    padding-bottom: 15rem;
}
.choose-section-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.choose-section-seven{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6rem;
}
.choose-section-two{
    width: 30%;
}
.choose-section-seven{
    width: 60%;
}
.choose-section-three{
    width: 43%;
}
.choose-section-two h2{
    padding-bottom: 2.54rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.choose-section-two p{
    padding-bottom: 3rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.choose-section-seven h3{
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}
.choose-section-seven h2{
    color: var(--Kuno-Red, #000);
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.choose-section-seven p{
    padding-bottom: 2.4rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.choose-section-seven button{
    border: none;
    cursor: pointer;
    background: transparent;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
/* section six start */
.sub-content{
    padding-bottom: 1rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.card-section-two{
    display: flex;
    justify-content: space-between;
}

.card-section-three p{
    padding-bottom: 8rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.card-section-four button{
    padding: 1rem 2rem;
    background: transparent;
    border-radius: 0.4rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    cursor: pointer;
}
/* section six start */
.card-main{
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    justify-content: center;
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    justify-content: center;
    padding-bottom: 11.2rem;
}
.card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}
.card-value h2{
    height: 20px;
    overflow: hidden;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}
.card-pricing h3{
    color: var(--Black);
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
}
.card{
    width: 22%;
}
.card img{
    width: 100%;
    display: block;
}
.card p{
    padding-bottom: 1rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.card button{
    background: transparent;
    padding: 0.5rem 0rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}
.card button:hover{
    background-color: aqua;
}
.responsive-card-button{
    display: none;
}
.responsive-card-button button{
    background: transparent;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 2rem 4rem;
    color: var(--Black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.card-section-eight{
    padding-bottom: 11rem;
}
/* section seven start */
.section-seven{
    background-image: url(./img/light.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 13rem 0rem;
    background-position: right;
}
/* section seven start */
.logo-section-two h3{
    padding-bottom: 2.5rem;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.logo-section-two h2{
    padding-bottom: 2.5rem;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */   
}
.btn-three{
    display: flex;
    gap: 2rem;
}
.btn-four{
    border-radius: 0.5rem;
    border: 1px solid #fff;
    padding: 1rem 3rem;
    background: transparent;
    color: var(--Kuno-Greywhite, #F7F7F7);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */   
    cursor: pointer;
}
.btn-five{
    border: none;
    padding: 1rem 3rem;
    background: transparent;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */  
    cursor: pointer;
}  
.section-eight{
    padding-top: 11rem;
} 
/* section nine start */
.contact-sct-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15rem;
}
.contact-sct-two{
    width: 45%;
}
.contact-one{
    width: 45%;
}
.contact-sct-two h3{
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.contact-sct-two h2{
    padding-top: 1.5rem;
    padding-bottom: 2.4rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */   
}
.contact-sct-two p{
    padding-bottom: 3.2rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */   
}
.email-one{
    display: flex;
    gap: 2rem;
}
.phn-one{
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.location-one{
    display: flex;
    gap: 2rem;
}
.contact-sct-two i{
    font-size: 2rem;
}
.contact-sct-two a{
    text-decoration: none;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.contact-one input{
    width: 100%;
    padding: 2rem 0rem;
    border-radius: 0.5rem;
}
.contact-one textarea{
    width: 100%;
    border-radius: 0.5rem;
}
.contact-one textarea::placeholder{
    padding-top: 1rem;
    padding-left: 1rem;
    color: var(--neutral-dark-gray, #505050);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */  
}
.contact-one p{
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.contact-one button{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #000;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    cursor: pointer;
    border: none;
    outline: none;
}
.chose-file{
    display: flex;
    gap: 1.2rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
.chose-file a{
    text-decoration: none;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;  
}
.contact-one a{
    text-decoration: none;
    
}
#check{
    width: 2rem;
}
/* footer section start */
.footer-section-three{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 8rem;
}
.footer-section-four{
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.subscribe-two{
    width: 35%;
}
.footer-logo{
    width: 20%;
    display: flex;
    align-items: start;
    gap: 1rem
}
.footer-logo a{
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 25.067px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-section-three h3{
    padding-bottom: 1.6rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */   
}
.footer-section-three p{
    padding-bottom: 1rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */   
}
.categories{
    width: 20%;
}
.categories-two{
    width: 20%;
    padding-top: 4rem;
}
.about{
    width: 20%;
}
.subscribe-two h4{
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */   
    padding-bottom: 2.4rem;
}
.subscribe-two h5{
    padding-top: 1rem;
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
.email-section-two input::placeholder{
    color: var(--neutral-dark-gray, #505050);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.email-section-two input{
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 8rem;
}
.email-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.input-btn-one input{
    padding: 1.6rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background: transparent;
    color: var(--neutral-dark-gray, #505050);
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer-section-sox{
    display: flex;
    justify-content: space-between;
}
.social-icon a{
    color: #000;
}
.footer-last-section{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.footer-section-eight{
    display: flex;
    gap: 2.4rem;
}
.footer-last-section p{
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */   
}
.footer-last-section a{
    color: var(--Black);
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    text-decoration-line: underline;   
}
.footer-section-six{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3.2rem;
    padding-bottom: 1rem;
    border-top: 1px solid #000;
}
#product .section-six{
    padding-top: 10rem;
}
#product .section-four{
    padding-top: 10rem;
}
#product .contact-sct-one{
    padding-top: 10rem;
}











@media (max-width:1270px){
    .container{
        width: 100%;
    }

}
@media (max-width:992px){
    .container{
        width: 100%;
    }
    html{
        font-size: 60%;
    }
    .navber ul {
        position: fixed;
        width: 100vw;
        height: 50vh;
        top: 83px;
        left: -200%;
        background-color: #fff;
        transition: all .1s;
        flex-direction: column;
        gap: 15px;
        justify-content: space-around;
        padding-left: 0;
        text-align: left;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
        padding-bottom: 20px;
        box-shadow: -3px 62px 111px -14px rgba(0,0,0,0.66);
        -webkit-box-shadow: -3px 62px 111px -14px rgba(0,0,0,0.66);
        -moz-box-shadow: -3px 62px 111px -14px rgba(0,0,0,0.66);
    }
     #check:checked ~ ul {
        left: 0;
    }
    .checkbtn{
        display: block;
    }
    .header-search-icon input{
        border: none;
        outline: none;
        width: 2rem;
    }
    .header-responsive{
        display: block;
    }
    .header-section-two{
        border: none;
    }
    .header-responsive-one{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-area, .love, .cart, .notification{
        display: none;
    }
    .header-top-two{
        display: none;
    }
    .header-section{
        display: none;
    }
    .header-responsive-two{
        border-bottom: 1px solid #000;
    }
    .header-responsive-one i{
        font-size: 3rem;
    }
    .header-logo-two three{
        padding-top: 2.4rem;
    }
    .card{
        width: 21%;
    }
    .section-seven{
        background-position: right;
    }
}
@media (max-width:768px){
    html{
        font-size: 50%;
    }
    .hero-section-one{
        gap: 2.4rem;
    }
    .hero-section-two{
        width: 100%;
    }
    .main-section-two{
        gap: 5rem;
    }
    .hero-section-three{
        width: 100%;
    }
    .main-section-three{
        width: 100%;
        text-align: center;
    }
    .about-img-section{
        width: 100%;
    }
    .choose-section-one{
        gap: 6rem;
    }
    .choose-section-two{
        width: 100%;
    }
    .choose-section-three{
        width: 43%;
    }
    .choose-section-seven{
        width: 100%;
    }
    .card{
        width: 47%;
    }
    .section-seven{
        background-position: right;
    }
    .contact-sct-two{
        width: 100%;
    }
    .contact-one{
        width: 100%;
    }
    .contact-sct-one{
        gap: 5rem;
    }
    .chose-file{
        display: none;
    }
    .contact-one button{
        width: 100%;
        margin-top: 5rem;
    }
    .footer-section-four{
        gap: 5rem;
        width: 100%;
    }
    .footer-section-seven{
        width: 100%;
    }
    .footer-section-eight{
        width: 100%;
        padding-bottom: 2.4rem;
    }
    .social-icon{
        width: 100%;
        padding-bottom: 2.4rem
    }
}
@media (max-width:576px){
    html{
        font-size: 50%;
    }
    .hero-section-one{
        gap: 2.4rem;
    }
    .hero-section-two{
        width: 100%;
    }
    .main-section-two{
        gap: 5rem;
    }
    .hero-section-three{
        width: 100%;
    }
    .main-section-three{
        width: 100%;
        text-align: center;
    }
    .about-img-section{
        width: 100%;
    }
    .choose-section-one{
        gap: 6rem;
    }
    .choose-section-two{
        width: 100%;
    }
    .choose-section-three{
        width: 100%;
    }
    .choose-section-seven{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .card-container{
        gap: 4rem;
        padding-bottom: 7rem;
    }
    .section-seven{
        background-position: right;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .contact-sct-two{
        width: 100%;
    }
    .contact-one{
        width: 100%;
    }
    .contact-sct-one{
        gap: 5rem;
    }
    .chose-file{
        display: none;
    }
    .contact-one button{
        width: 100%;
        margin-top: 5rem;
    }
    .footer-section-four{
        gap: 5rem;
    }
    .footer-logo{
        width: 100%;
    }
    .categories{
        width: 100%;
    }
    .categories-two{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .subscribe-two{
        width: 100%;
    }
    .email-section-two{
        width: 100%;
    }
    .input-btn-one{
        width: 100%;
    }
    .footer-section-seven{
        width: 100%;
    }
    .email-section-two input{
        width: 100%;
    }
    .footer-section-eight{
        width: 100%;
        padding-bottom: 2.4rem;
    }
    .social-icon{
        width: 100%;
        padding-bottom: 2.4rem
    }
    .card-section-four button{
        display: none;
    }
    .responsive-card-button{
        padding: 2rem 4rem;
        display: block;
        color: var(--Black, #000);
        font-family: Roboto;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
}